.b-footer {
  height: 200px;
  background-color: $color-dark;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
   margin: auto;
  padding:0  60px;

  .b-footer__contact {

    color: $color-white;
    background-color:$color-red;
    padding: 0 20px ;
    border-radius:20px;
    margin-right: auto;
    height:44px;


      &:hover {
        color:$color-light;
      }
  }
  .b-footer__copyright {
    color:$color-white;

  }

  .b-footer__socialmedia{
    margin-left: auto;
    width:40px;
   height:40px;
  }
}
