.b-gallery {
  padding: 40px $spacing-regular;
  background-image: url("../images/texture.jpg");
  @media screen and (min-width:800px) {
    padding: 60px $spacing-regular;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: $width-content;
    margin: 0 auto;
    @media screen and (min-width: 800px) {}
  }

  h2 {
    padding: 20px;
    text-align: center;
  }

  &__container {
    background-color: $color-white;
    // width:50%;
    @media screen and (min-width:800px) {
      width: 100%;
    }

    &-img {
       // display: flex;
       // flex-direction: column;
       // align-items: center;
       // justify-content: center;
       margin: 0 auto;
       // position: relative;
       // display: block;
       // width: 100%;
      transition: font-size 0.7s cubic-bezier(.61,-.19, .7,-.11), flex 0.7s cubic-bezier(.61,-.19, .7,-.11);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit:   cover;
    }
  }
}

// .swiper-container {
//   height:auto;
//   width:auto;
// }
