.b-header {
  padding: 40px 20px;
  background-color: #1e1e24;
  @media screen and (min-width: 800px) {
    padding: 40px 20px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $width-content;
    margin: 0 auto;
    @media screen and (min-width: 800px) {
      padding: 40px 20px;
    }
  }

  &__logo {
    position: absolute;
    bottom: 83%;
    display: none;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 0;
    @media screen and (min-width:800px) {
      display: flex;
    }
  }
  // &__press {
  //   position: absolute;
  //   left: 280px;
  //   display: flex;
  //   flex-direction: column;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   width: 100px;
  //   height: 200px;
  //   text-outline: 14px;
  //
  //   &:hover {
  //     fill: $color-red-dark;
  //   }
  //
  //   path {
  //     border-width: 5px;
  //     stroke: none;
  //     fill: $color-white;
  //     stroke-width: 20;
  //
  //     &:hover {
  //       fill: $color-red-light;
  //     }
  //   }
  // }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    @media screen and (min-width: 800px) {
      display: inline-flex;
      flex-direction: row;
      align-items: flex-end;
    }

    li {
      display: flex;
      width: auto;
      @media screen and (min-width: 800px) {
        display: inline-flex;
        flex-wrap: wrap;
      }

      a {
        display: inline-block;
        margin-left: 10px;
        padding: 20px;
        text-align: left;
        text-decoration: none;
        letter-spacing: 1px;
        color: gray;
        color: #fff8f0;
        @media screen and (min-width: 800px) {
          padding: 14px 16px;
        }

        &:hover {
          color: #ffcf99;
        }
      }
    }
  }
}
