.b-members {
  // background-color: $color-red;

  .b-members__m {
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: $color-light;
  }
}

.b-members-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
  background-color: $color-light;
}

.b-members__member {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //width: 33%;
  width: calc(100%/3);
  // border: 1px solid black;
}

.b-members__member-img {
  width: 400px;
  height: 500px;
  margin: 20px;
}

.b-members__member-info {
  margin: 20px;
  padding: 20px;
  text-align: center;
  border: 3px solid $color-red-dark;
  background-color: $color-red;
  p {
    font-size: 16px;
    font-weight: bold;
  }
}
