.b-tour {
  background-color: $color-light;
  padding: 40px 20px;
  @media screen and (min-width: 800px) {
    padding:60px 20px;
  }

  h3 {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: $width-content;
    margin:0 auto;
  }

  &__dates {
    padding: 20px;
    background-color: $color-red-light;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
  }

  &__events {
    padding: 0 10px;
     background-color: $color-white;
  }
}
