* {
  box-sizing: border-box;
}

html {
  // scroll-behavior: smooth;
   overflow: hidden;
  @media screen and (min-width: 800px) {
    overflow:  auto;
  }
}

body {
  margin: 0;
  overflow: hidden;
   @media screen and (min-width: 800px) {
     overflow:  auto;
   }
}

img {
  max-width: 100%;
}
