

* {
  box-sizing: border-box;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
  overflow-x:  hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}
h1 {
  display: none;
}

img {
  max-width: 100%;
}
